header {
    background-color: indigo;
    color: white;
    text-align: center;
    padding: 10px;
}

main {
    background-color: black;
    color: wheat;
    text-align: center;
    padding: 10px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 10px;
    margin: 10px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    justify-content: center;
    align-items: center;
}

body {
    background-color: black;
    color: wheat;
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    padding: 10px;
    margin: 10px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

.column1 {
    width: 50%;
    padding: 10px;
}

.column2 {
    width: 50%;
    padding: 10px;
}


footer {
    background-color: indigo;
    color: #000000;
    text-align: center;
    padding: 10px;
}

button {
    background-color: cyan;
    color: #000000;
    padding: 10px;
    margin: 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: cyan;
    color: white;
}

img {
    max-width: 100%;
    height: auto;
}